.container_produtos{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
    /* background-image: url('./assets/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100%; */
}